<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.bfd.dao.mapper.BookMapper">

	<select id="getBookById" resultType="com.bfd.bean.BookBean">
        SELECT
            t_book_metadata.id AS id,
		    t_book_metadata.unique_id AS uniqueId,
		    t_book_metadata.book_name AS bookName,
		    t_book_metadata.author AS author,
		    t_book_metadata.responsible AS responsible,
		    t_book_metadata.press AS press,
		    t_book_metadata.publish_place AS publishPlace,
		    t_book_metadata.publish_date AS publishDate,
		    t_book_metadata.language AS language,
		    t_book_metadata.book_isbn AS bookIsbn,
			t_book_metadata.keywords AS keywords,
			t_book_metadata.content_summary AS contentSummary,
			t_book_metadata.book_maker AS bookMaker,
			t_book_metadata.make_time AS makeTime,
			t_book_metadata.edit_order AS editOrder,
			t_book_metadata.edit_order_year AS editOrderYear,
			t_book_metadata.edit_order_month AS editOrderMonth,
			t_book_metadata.print_order AS printOrder,
			t_book_metadata.print_order_year AS printOrderYear,
			t_book_metadata.print_order_month AS printOrderMonth,
			t_book_metadata.book_size AS bookSize,
			t_book_metadata.book_size_one AS bookSizeOne,
			t_book_metadata.book_size_two AS bookSizeTwo,
			t_book_metadata.word_count AS wordCount,
			t_book_metadata.print_sheet AS printSheet,
			t_book_metadata.binding_type AS bindingType,
			t_book_metadata.pages_number AS pagesNumber,
			t_book_metadata.editor AS editor,
			t_book_metadata.price AS price,
			t_book_metadata.book_category AS bookCategory,
			t_book_metadata.author_brief AS authorBrief,
			t_book_metadata.citation AS citation,
			t_book_metadata.import_version AS importVersion,
			t_book_metadata.origin_language AS originLanguage,
			t_book_metadata.origin_book_name AS originBbookName,
			t_book_metadata.translator AS translator,
			t_book_metadata.book_pdf AS bookPdf,
			t_book_metadata.page_num_pdf AS pageNumPdf,
			t_book_metadata.book_epub AS bookEpub,
			t_book_metadata.book_xml AS bookXml
        FROM t_book_metadata
        WHERE unique_id = #{id}
    </select>

	<select id="getPrivateCount" resultType="java.lang.Long">
        select
        	count(1)
        from t_book_metadata,t_private_column,t_private_column_book
		where t_book_metadata.id=t_private_column_book.metadata_id
		and t_private_column.id=t_private_column_book.column_id
		and t_private_column.business_id=#{businessId}
		and t_book_metadata.unique_id=#{bookId}
    </select>

	<select id="getPublicCount" resultType="java.lang.Long">
        select
        	count(1)
        from t_book_metadata,t_business_column,t_column_book
		where t_business_column.column_id=t_column_book.column_id
		and t_column_book.metadata_id=t_book_metadata.id
		and t_book_metadata.unique_id=#{bookId}
		and t_business_column.business_id=#{businessId}
    </select>

	<select id="getBusinessTermOfValidity" resultType="java.util.Map">
		select *
		from t_business_units
		where business_id = #{businessId}
	</select>
</mapper>